.detail-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item, .form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form input {
  border: none;
  border-bottom: 1px solid black;
  padding: 5px 10px;
  outline: none;
}

.avatar {
  border: 2px solid black;
  margin-bottom: 40px;
}

.edit {
  margin-top: 40px;
  padding: 20px 50px;
  border-radius: 30px;
  background-color: #fff;
  font-size: 18px;
}
